@import 'libs/shared/styles/src/index';

.offset-top {
  margin-top: 43px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 1162px;
  margin: 57px auto 70px;

  .decarator-info {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;

    height: 100%;

    .left-panel {
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      align-items: flex-start;

      border-radius: 21px;
      background-color: white;

      padding: 40px 27px;
      margin-right: 28px;

      width: 341px;

      .decorator-info-logo {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        margin-bottom: 36px;

        div.logo {
          flex: 0 0 102px;

          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;

          width: 102px;
          height: 102px;

          border-radius: 50%;

          img {
            flex-shrink: 0;
            max-width: 100%;
          }
        }

        .parag {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;

          margin-left: 19px;

          .name {
            font-family: 'fabrikat-medium';
            font-size: 26px;
            line-height: 30px;
            text-align: left;

            color: $primary-text-color;
          }

          .description {
            font-family: 'fabrikat-regular';
            font-size: 17px;
            line-height: 24px;
            text-align: left;

            word-wrap: normal;
            white-space: pre-line;

            color: $primary-text-color;
          }
        }
      }

      .propositions {
        font-family: 'fabrikat-regular';
        font-size: 17px;
        line-height: 24px;
        text-align: left;

        word-wrap: normal;
        white-space: pre-line;

        color: $primary-text-color;

        margin-top: 5px;
      }

      .propositions-under-description {
        font-family: 'fabrikat-regular';
        font-size: 17px;
        line-height: 24px;
        text-align: left;

        word-wrap: normal;
        white-space: pre-line;

        color: $primary-text-color;

        margin-top: 9px;
      }
    }

    .right-panel {
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      align-items: flex-start;

      border-radius: 21px;
      background-color: white;

      padding: 33px 57px 47px 60px;

      width: 606px;

      .title {
        margin-left: 8px;
      }
    }

    .title {
      font-family: 'fabrikat-medium';
      font-size: 20px;
      line-height: 24px;
      text-align: left;

      color: #c2a986;
    }
  }

  hr {
    border-top: 1px solid #dedad3;
    margin-top: 35px;
    margin-bottom: 26px;
  }

  .special-offers {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: space-between;
    ::ng-deep .card {
      box-shadow: none;
    }
  }
}
