<div class="background" id="background">
  <div class="outlet-container" rhinovScrollableContainer>
    <div class="vertically-scrollable-content" #scrollableContent>
      <div class="container">
        <div class="decarator-info">
          <div class="left-panel" id="left-panel">
            <div class="decorator-info-logo">
              <div class="logo" id="author-avatar">
                <img [src]="(decoratorInfo$ | async)?.logo! || '' | safe: 'url'" />
              </div>
              <div class="parag">
                <span class="name" id="author-name">{{ (decoratorInfo$ | async)?.name }}</span>
                <span class="description" id="author-description">{{
                  (decoratorInfo$ | async)?.title
                }}</span>
              </div>
            </div>
            <span class="title" i18n>A propos</span>
            <span class="propositions" id="propositions"
              >{{ (decoratorInfo$ | async)?.about }}<br
            /></span>
            <span class="title offset-top" i18n>Description</span>
            <span class="propositions-under-description" id="about"
              >{{ (decoratorInfo$ | async)?.description }}<br
            /></span>
          </div>
          <div class="right-panel" id="right-panel">
            <span class="title" i18n>Le commentaire de mon décorateur</span>
            <iframe
              *ngIf="frameContent$ | async"
              #frame
              sandbox="allow-same-origin allow-top-navigation allow-popups"
              frameborder="0"
              scrolling="auto"
              height="100%"
              width="606px"
              [src]="frameContent$ | async"
              (load)="updateFrameHeight()"
            ></iframe>
          </div>
        </div>
        <hr noshade size="1" color="#dedad3" width="100%" />
        <div class="special-offers">
          <ng-container *ngIf="advertisingCards$ | async as advertisingCards">
            <rhinov-advertising-card
              class="card"
              *ngFor="let adCard of advertisingCards; index as slotIndex"
              gaEvent="promotionClick"
              [gaProps]="
                {
                  ecommerce: {
                    promoClick: {
                      promotions: [
                        {
                          id: slotIndex + 1,
                          name: 'my_project_footer',
                          creative: 'banner_' + (adCard.linkText || ''),
                          position: 'slot' + (slotIndex + 1)
                        }
                      ]
                    }
                  }
                } | json
              "
              [data]="convertAdCard(adCard)"
              (cardAction)="onAdvertisingCardClick(adCard)"
            ></rhinov-advertising-card>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
