<div class="background">
  <div class="outlet-container" rhinovScrollableContainer>
    <div class="vertically-scrollable-content" #scrollableContent>
      <div class="brief-container">
        <ng-container *ngIf="projectBrief$ | async as projectBrief">
          <ng-container *ngIf="roomFeatures$ | async as roomFeatures">
            <rhinov-project-specification
              [projectBrief]="projectBrief"
              [roomFeatures]="roomFeatures"
              id="left-panel"
            >
            </rhinov-project-specification>
          </ng-container>
        </ng-container>
        <div id="right-panel">
          <div class="images">
            <span class="title" i18n>
              <span class="bold">Photos/Plans</span> envoyés à mon décorateur
            </span>
            <swiper [config]="swiperConfig">
              <ng-container *ngIf="inspirationPhotos$ | async as inspirationPhotos">
                <div *ngFor="let photo of inspirationPhotos; let i = index">
                  <div (click)="openGalleryPopUp(inspirationPhotos, i)">
                    <img class="slide" [src]="photo | safe: 'url'" />
                  </div>
                </div>
              </ng-container>
            </swiper>
            <span class="title" i18n><span class="bold">Mes images</span> d’inspiration</span>
            <swiper [config]="swiperConfig">
              <ng-container *ngIf="inspirationImages$ | async as inspirationImages">
                <div *ngFor="let image of inspirationImages; let i = index">
                  <div (click)="openGalleryPopUp(inspirationImages, i)">
                    <img class="slide" [src]="image | safe: 'url'" />
                  </div>
                </div>
              </ng-container>
            </swiper>
          </div>
          <div class="advertise">
            <ng-container *ngIf="advertiseCards$ | async as advertiseCards">
              <ng-container *ngFor="let adCard of advertiseCards; index as slotIndex">
                <rhinov-advertising-card
                  gaEvent="promotionClick"
                  [gaProps]="
                    {
                      ecommerce: {
                        promoClick: {
                          promotions: [
                            {
                              id: slotIndex + 1,
                              name: 'my_project_footer',
                              creative: 'banner_' + (adCard.linkText || ''),
                              position: 'slot' + (slotIndex + 1)
                            }
                          ]
                        }
                      }
                    } | json
                  "
                  [data]="convertAdCard(adCard)"
                  (cardAction)="onAdvertisingCardClick($event)"
                ></rhinov-advertising-card>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
