@import 'libs/shared/styles/src/lib/background';
@import 'libs/shared/styles/src/lib/colors';
@import 'libs/shared/styles/src/lib/fonts';

* {
  min-width: 0;
}

.bold {
  font-family: 'fabrikat-bold';
}

.brief-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  margin: 70px auto;

  swiper {
    width: 676px;
    position: relative;
  }

  ::ng-deep .swiper-container {
    position: static !important;
  }

  ::ng-deep .swiper-button-next,
  ::ng-deep .swiper-button-prev {
    width: 42px;
    height: 42px;
    font-size: 42px;
    opacity: 0.7;
    top: 93.5px;
    margin-top: -21px;
  }

  ::ng-deep .swiper-button-prev {
    z-index: 1;
    left: -18px;

    &:after {
      content: '';
      height: 42px;
      width: 42px;
      background-image: url('/assets/icons/circle-with-arrow.svg');
      background-size: 42px 42px;
    }
  }

  ::ng-deep .swiper-button-next {
    right: -18px;

    &:after {
      content: '';
      height: 42px;
      width: 42px;
      background-image: url('/assets/icons/circle-with-arrow-right.svg');
      background-size: 42px 42px;
    }
  }

  ::ng-deep .swiper-button-next.swiper-button-disabled,
  ::ng-deep .swiper-button-prev.swiper-button-disabled {
    pointer-events: auto;
    opacity: 0;
  }

  ::ng-deep .swiper-pagination {
    .swiper-pagination-handle {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    margin-top: 8px;
    bottom: 0 !important;
    position: relative !important;
    .swiper-pagination-bullet {
      background: #3d3c40;

      border-radius: 50%;
      width: 6.75px;
      height: 6.75px;
      border: none !important;
      margin: 0 !important;

      &.swiper-pagination-bullet-active {
        background: $color-gold;
        width: 11.25px;
        height: 11.25px;
        transform: translateY(2px);
      }
    }
  }

  .swiper-slide {
    width: 163px !important;
  }

  .slide {
    object-fit: cover;
    width: 163px;
    height: 187px;
    display: block;
  }

  rhinov-project-specification {
    margin-right: 28px;

    width: 395px;
  }

  div#right-panel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    width: 818px;

    div.images {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;

      padding: 15px 73px 48px 64px;

      background-color: white;
      border-radius: 21px;

      span.title {
        position: relative;

        font-family: 'fabrikat-regular';
        font-size: 20px;
        line-height: 35px;
        text-align: left;

        color: $headline-color;
        margin-bottom: 35px;
      }
    }

    div.advertise {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      margin-top: 40px;
      margin-bottom: 40px;

      rhinov-advertising-card {
        width: 386px;
        height: 224px;

        margin: 4px 11px;
      }
    }
  }
}
