@import 'libs/shared/styles/src/index';

.tabbar {
  background: $color-darkgrey;
  width: 100%;
  height: 70px;

  user-select: none;

  & > form {
    display: flex;
    justify-content: center;
    height: 100%;
    position: relative;

    label {
      flex: 0 0 185px;

      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 1;

      background-color: transparent;
      border-radius: 24px;

      height: 48px;

      margin: 12px 10px 11px 10px;

      svg-icon-sprite,
      span {
        display: block;
        backface-visibility: hidden;
      }

      svg-icon-sprite {
        color: white;
      }

      span {
        color: white;

        font-family: 'fabrikat-regular';
        font-size: 17px;
        line-height: 24px;
        text-align: left;
      }

      span.project,
      span.interier {
        margin-left: 10px;
      }

      span.shopping {
        margin-left: 8px;
      }

      span.articles {
        margin-left: 4.5px;
      }
    }

    label.project {
      width: 129px;
    }

    label.interier {
      width: 178px;
    }

    label.shopping {
      width: 158px;
    }

    label.srticles {
      width: 170px;
    }

    label:focus {
      outline: none;
    }

    input {
      display: none;

      &:checked {
        & + label {
          background-color: white;

          svg-icon-sprite {
            color: $color-darkgrey;
          }

          span {
            font-family: 'fabrikat-bold';
            color: $primary-text-color;
          }
        }
      }
    }
  }
}
