@import 'libs/shared/styles/src/lib/colors';
@import 'libs/shared/styles/src/lib/fonts';

.estimating-stars-container {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;

  .title {
    position: relative;

    @media screen and (max-width: 400px) {
      font-family: $font-primary;
      font-size: 20px;
    }

    @media screen and (min-width: 401px) {
      font-family: $font-primary-medium;
      font-size: 17px;
    }

    line-height: 24px;
    text-align: center;

    word-wrap: normal;
    white-space: pre-line;

    color: $primary-text-color;

    @media screen and (max-width: 767px) {
      display: block ruby;
    }

    margin-bottom: 20px;
  }

  star-rating {
    ::ng-deep *:focus {
      outline: none;
    }
  }

  .txt-smile {
    text-align: center;
    height: 20px;
  }

  .dark-grey {
    background-color: $color-darkgrey;
    border-radius: 100%;
  }

  .red {
    ::ng-deep svg {
      background-color: $color-red;
      border-radius: 100%;
    }
  }

  .orange {
    ::ng-deep svg {
      background-color: $color-orange;
      border-radius: 100%;
    }
  }

  .yellow {
    ::ng-deep svg {
      background-color: $color-yellow;
      border-radius: 100%;
    }
  }

  .grey {
    ::ng-deep svg {
      background-color: $color-grey;
      border-radius: 100%;
    }
  }

  .blue {
    ::ng-deep svg {
      background-color: $color-blue;
      border-radius: 100%;
      color: $color-darkgrey;
    }
  }

  .green {
    ::ng-deep svg {
      background-color: $color-green;
      border-radius: 100%;
    }
  }

  .starsColors {
    ::ng-deep {
      // stars click
      .rating.color-default .star-container .star i {
        color: $color-darkgrey !important;
      }

      .rating.value-1 .star-container .star i {
        color: $color-red-light !important;
      }

      .rating.value-2 .star-container .star i {
        color: $color-orange !important;
      }

      .rating.value-3 .star-container .star i {
        color: $color-yellow !important;
      }

      .rating.value-4 .star-container .star i {
        color: $color-blue !important;
      }

      .rating.value-5 .star-container .star i {
        color: $color-green !important;
      }

      // stars hover
      .rating.hover:hover.hover-1 .star-container .star svg {
        fill: $color-red-light !important;
      }

      .rating.hover:hover.hover-1 .star-container .star i {
        color: $color-red-light !important;
      }

      .ok svg,
      .rating.hover:hover.hover-2 .star-container .star svg {
        fill: $color-orange !important;
      }

      .rating.hover:hover.hover-2 .star-container .star i {
        color: $color-orange !important;
      }

      .rating.hover:hover.hover-3 .star-container .star svg {
        fill: $color-yellow !important;
      }

      .rating.hover:hover.hover-3 .star-container .star i {
        color: $color-yellow !important;
      }

      .rating.hover:hover.hover-4 .star-container .star svg {
        fill: $color-blue !important;
      }

      .rating.hover:hover.hover-4 .star-container .star i {
        color: $color-blue !important;
      }

      .rating.hover:hover.hover-5 .star-container .star svg {
        fill: $color-green !important;
      }

      .rating.hover:hover.hover-5 .star-container .star i {
        color: $color-green !important;
      }

      @media screen and (max-width: 400px) {
        div.star-container {
          transform: scale(1.285);
        }
      }
    }
  }
}
