<div class="estimating-stars-container">
  <rhinov-rating-smile [rating]="rating" [evaluationHover]="evaluationHover"></rhinov-rating-smile>
  <div class="title">{{ message }}</div>
  <star-rating
    class="starsColors"
    (starClickChange)="starSelected($event)"
    [rating]="rating"
    (hoverRatingChange)="onHoverRatingChange($event)"
    [hoverEnabled]="true"
    [starType]="'icon'"
    [size]="'large'"
  >
  </star-rating>
</div>
