@import 'libs/shared/styles/src/index';

$shadow-color: 0 -11px 13px 0 rgba(0, 0, 0, 0.05);

.tabbar {
  background: white;
  width: 100%;
  height: 55px;

  user-select: none;

  & > form {
    display: flex;
    height: 100%;
    position: relative;
    justify-content: center;

    box-shadow: $shadow-color;

    label {
      flex: 0 0 25%;

      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 1;

      svg-icon-sprite,
      span.label {
        display: block;
        backface-visibility: hidden;
        transition: transform 0 cubic-bezier(0.2, 0.64, 0.48, 1.12), opacity 0 ease, color 0 ease;
      }

      svg-icon-sprite {
        --y: 0;
        width: 16px;
        height: 16px;
        margin: auto;
        color: $color-darkgrey;
        transform-origin: 50% 50%;
        transform: translateY(var(--y)) scale(1.56);
      }

      span.label {
        --y: -8px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        color: $primary-text-color;
        transform-origin: 50% 0;

        font-family: 'fabrikat-medium';
        font-size: 14px;
        line-height: 24px;
        text-align: center;

        white-space: nowrap;
        margin-left: -10%;
        margin-right: -10%;
      }

      span.checkbox {
        z-index: -1;

        position: absolute;
        opacity: 0;

        display: block;
        border-radius: 50%;
        border: 8px solid white;
        background: $color-sea;

        width: 42px;
        height: 42px;

        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        transform: translateY(-25px);

        box-shadow: $shadow-color;
      }
    }

    input {
      display: none;

      &:checked {
        & + label {
          svg-icon-sprite {
            --y: -25px;
          }

          span {
            opacity: 1;
          }
        }
      }
    }
  }
}
