<nav class="tabbar">
  <form [formGroup]="navBarGroup">
    <!-- Mon projet -->
    <ng-container
      *ngIf="
        (userAccess$ | async) !== 'sharing' && (applicationType$ | async) === 'client-book-b2c'
      "
    >
      <input
        id="menu-project"
        type="radio"
        formControlName="menu"
        [value]="NavBarTabs.Project"
        (change)="onProjectClick($event)"
        checked
      />
      <label for="menu-project" id="nav-bar-project">
        <span class="checkbox"></span>
        <svg-icon-sprite
          [src]="'./assets/icons/navigation-bar.svg#my-project'"
          id="nav-bar-project-icon"
        ></svg-icon-sprite>
        <span class="label" id="nav-bar-project-text" i18n>Mon projet</span>
      </label>
    </ng-container>
    <!-- Mon intérieur 3D -->
    <input
      id="menu-interier"
      type="radio"
      formControlName="menu"
      [value]="NavBarTabs.Interior"
      (change)="onInteriorClick($event)"
    />
    <label for="menu-interier" id="nav-bar-interier">
      <span class="checkbox"></span>
      <svg-icon-sprite
        [src]="'./assets/icons/navigation-bar.svg#my-interier'"
        id="nav-bar-interier-icon"
      ></svg-icon-sprite>
      <span class="label" id="nav-bar-interier-text" i18n>{{
        (applicationType$ | async) === 'client-book-b2c'
          ? (isRoomTypeExterior$ | async)
            ? 'Mon extérieur 3D'
            : 'Mon intérieur 3D'
          : 'Projet 3D'
      }}</span>
    </label>
    <!-- Ma shopping-list -->
    <input
      id="menu-shop"
      type="radio"
      formControlName="menu"
      [value]="NavBarTabs.Shop"
      (change)="onShopClick($event)"
    />
    <label for="menu-shop" id="nav-bar-shopping">
      <span class="checkbox"></span>
      <svg-icon-sprite
        [src]="'./assets/icons/navigation-bar.svg#my-shopping'"
        id="nav-bar-shopping-icon"
      ></svg-icon-sprite>
      <span class="label" id="nav-bar-shopping-text" i18n>Ma shopping-list</span>
    </label>
    <!-- Mes astuces déco -->
    <input
      id="menu-articles"
      type="radio"
      formControlName="menu"
      [value]="NavBarTabs.Articles"
      (change)="onArticlesClick($event)"
    />
    <label for="menu-articles" id="nav-bar-articles">
      <span class="checkbox"></span>
      <svg-icon-sprite
        [src]="'./assets/icons/navigation-bar.svg#my-tips'"
        id="nav-bar-articles-icon"
      ></svg-icon-sprite>
      <span class="label" id="nav-bar-articles-text" i18n>Mes astuces</span>
    </label>
  </form>
</nav>
