@import 'libs/shared/styles/src/lib/button';
@import 'libs/shared/styles/src/lib/colors';
@import 'libs/shared/styles/src/lib/fonts';

::ng-deep .cdk-overlay-pane {
  position: relative !important;
}

button.dialog-close {
  top: 24px;
  right: 24px;

  img {
    width: 24px;
    height: 24px;
  }
}

button.dialog-back {
  top: 24px;
  left: 24px;

  img {
    width: 24px;
    height: 24px;
  }
}

mat-dialog-content {
  max-height: 100%;
}

.rating-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  height: 100%;

  p {
    margin: 0;
  }

  p.dialog-window-name {
    font-family: 'fabrikat-medium';
    font-size: 26px;
    line-height: 30px;
    text-align: center;

    color: $primary-text-color;
  }

  p.description {
    font-family: 'fabrikat-regular';
    font-size: 17px;
    line-height: 24px;
    text-align: center;

    color: $primary-text-color;
  }

  div.project-rating {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-top: 40px;

    rhinov-stars-rating {
      flex: 0 0 350px;
    }

    hr.vertical-divider {
      border: 1px solid $color-westar;

      width: 0px;
      height: 94px;

      margin-left: 40px;
      margin-right: 40px;
    }
  }

  p.title {
    font-family: 'fabrikat-medium';
    font-size: 17px;
    line-height: 24px;
    text-align: center;

    color: $primary-text-color;
  }

  div.application-rating {
    margin-top: 27px;

    div.rating-tabbar {
      display: flex;
      justify-content: center;

      height: 38px;
      margin-right: 2px;
      margin-top: 14px;

      label {
        width: 35px;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: transparent;
        border-top: 2px solid $color-darkgrey;
        border-bottom: 2px solid $color-darkgrey;
        border-left: 1px solid $color-darkgrey;
        border-right: 1px solid $color-darkgrey;

        z-index: 1;

        span {
          display: block;
          backface-visibility: hidden;

          font-family: 'fabrikat-medium';
          font-size: 17px;
          line-height: 24px;
          text-align: center;

          color: $primary-text-color;
        }
      }

      label:first-of-type {
        width: 34px;
        border-left: 2px solid $color-darkgrey;
      }

      label:last-child {
        width: 34px;
        border-right: 2px solid $color-darkgrey;
      }

      input {
        display: none;

        &:checked,
        &:hover {
          & + label {
            background-color: $color-darkgrey;

            span {
              color: white;
            }
          }
        }
      }
    }
  }

  div.share-images {
    user-select: none;

    margin-top: 63px;

    div.share-tabbar {
      display: flex;
      justify-content: center;

      height: 44px;
      margin-right: 1px;
      margin-top: 15px;

      label {
        flex: 0 0 86px;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: transparent;
        outline: 1px solid $color-darkgrey;

        z-index: 1;

        margin-left: 1px;

        span {
          display: block;
          backface-visibility: hidden;

          font-family: 'fabrikat-bold';
          font-size: 15px;
          line-height: 24px;
          text-align: center;

          color: $primary-text-color;
        }
      }

      input {
        display: none;

        &:checked {
          & + label {
            background-color: $color-darkgrey;

            span {
              color: white;
            }
          }
        }
      }
    }
  }

  div.comments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 52px;

    p.hint {
      font-family: 'fabrikat-bold';
      font-size: 12px;
      line-height: 14px;
      text-align: center;

      color: $primary-text-color;
    }

    textarea {
      font-family: 'fabrikat-regular';
      font-size: 17px;
      line-height: 24px;
      text-align: left;

      color: $primary-text-color;
      background-color: $color-mirage;

      width: 535px;
      height: 91px;

      margin-top: 13px;
      margin-bottom: 13px;

      padding: 5px;

      border: none;
      resize: none;
    }

    textarea:focus {
      outline: none;
    }
  }

  button.submit-rating {
    font-family: 'fabrikat-bold';
    font-size: 15px;
    line-height: 24px;
    text-align: center;

    color: $primary-text-color;

    width: 165px;
    height: 44px;

    border: 1px solid $color-darkgrey;
  }

  button.submit-rating:disabled {
    color: $color-mouse;
  }

  button.submit-rating:active {
    background-color: $color-mirage;
  }
}
