<button class="dialog-back" (click)="onClose()" [hidden]="dialogWasOpenedByTimeout">
  <img src="/assets/icons/icn-back-black.png" />
</button>

<button class="dialog-close" (click)="onClose()" [hidden]="!dialogWasOpenedByTimeout">
  <img src="/assets/icons/icn-close.png" />
</button>

<mat-dialog-content>
  <div class="rating-content">
    <p class="dialog-window-name" i18n>Notez votre projet déco</p>
    <p class="description" i18n>Et si en plus vous êtes satisfaits, nous serons super contents !</p>
    <div class="project-rating">
      <rhinov-stars-rating
        [message]="'Qu’avez-vous pensé de votre aménagement ?'"
        (clickOnStars)="updateProjectRating($event)"
      ></rhinov-stars-rating>
      <hr class="vertical-divider" />
      <rhinov-stars-rating
        [message]="'Qu’avez-vous pensé de votre décoration ?'"
        (clickOnStars)="updateDesignerRating($event)"
      ></rhinov-stars-rating>
    </div>
    <div class="application-rating">
      <rhinov-rating-smile
        [rating]="getAppRating()"
        [evaluationHover]="getAppHover()"
        [isAppRating]="true"
      ></rhinov-rating-smile>
      <p class="title" i18n>Recommanderiez-vous RHINOV à votre entourage ?</p>
      <div class="rating-tabbar">
        <ng-container *ngFor="let item of [].constructor(11); let i = index">
          <input id="sharing-{{ i }}" type="radio" name="rating" (change)="updateAppRating(i)" />
          <label for="sharing-{{ i }}" (mouseover)="hoverAppRating(i)" (mouseout)="hideHover()">
            <span>{{ i }}</span>
          </label>
        </ng-container>
      </div>
    </div>
    <div class="share-images" *ngIf="canDisplayShare | async">
      <p class="title" i18n>
        Autorisez-vous RHINOV à publier les photos de votre projet tout en préservant votre anonymat
        ?
      </p>
      <div class="share-tabbar">
        <input id="sharing-yes" type="radio" name="sharing" (change)="setShareState(true)" />
        <label for="sharing-yes">
          <span i18n>OUI</span>
        </label>
        <input id="sharing-no" type="radio" name="sharing" (change)="setShareState(false)" />
        <label for="sharing-no">
          <span i18n>NON</span>
        </label>
      </div>
    </div>
    <div class="comments">
      <p class="title" i18n>Avez-vous un commentaire, une suggestion?</p>
      <p class="hint" i18n>(250 caractères max)</p>
      <textarea maxlength="250" [(ngModel)]="comments"></textarea>
    </div>
    <button class="submit-rating" [disabled]="isSubmitDisabled" (click)="onSubmit()" i18n>
      VALIDER
    </button>
  </div>
</mat-dialog-content>
