@import 'libs/shared/styles/src/index';

:host {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.txt-smile {
  font-family: 'fabrikat-bold';
  font-size: 15px;
  line-height: 24px;
  text-align: center;

  color: $primary-text-color;

  height: 24px;
}

.dark-grey {
  background-color: $color-darkgrey;
  border-radius: 100%;
}

.red {
  ::ng-deep svg {
    background-color: $color-red;
    border-radius: 100%;
  }
}

.orange {
  ::ng-deep svg {
    background-color: $color-orange;
    border-radius: 100%;
  }
}

.yellow {
  ::ng-deep svg {
    background-color: $color-yellow;
    border-radius: 100%;
  }
}

.grey {
  ::ng-deep svg {
    background-color: $color-grey;
    border-radius: 100%;
  }
}

.blue {
  ::ng-deep svg {
    background-color: $color-blue;
    border-radius: 100%;
    color: $color-darkgrey;
  }
}

.green {
  ::ng-deep svg {
    background-color: $color-green;
    border-radius: 100%;
  }
}
